@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(74, 116, 255);
    margin: 0;
}

.navelement {
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.5rem 2.25rem;
    cursor: pointer;
    font-size: 16px;
}

.navelement:hover {
    background-color: rgb(177, 151, 187);
}

.logo {
    height: 3rem;
    width: auto;
    padding-top: 0.5rem;
}

.main-form {
    margin-top: 10rem;
    margin-left: 32rem;
}

.login-form label input {
    float: right;
    margin-right: 32rem;
}

#login-button {
    height: 2rem;
    width: 4rem;
    font-size: 14px;
    background-color: white;
    border-radius: 7px;
}

#login-button:hover {
    background-color: rgb(74, 116, 255);
}