* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

table {
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
}

th {
    text-align: center;
    padding: 0.5rem;
}

tr {
    text-align: center;
    border-bottom: 1px solid black;
}

td {
    padding: 0.5rem;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(74, 116, 255);
    margin: 0;
}

.navelement {
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.5rem 2.25rem;
    cursor: pointer;
    font-size: 16px;
}

.navelement:hover {
    background-color: rgb(59, 93, 204);
}

.logo {
    height: 3rem;
    width: auto;
    padding-top: 0.5rem;
}

.upload {

    float: left;
    margin: 2rem;
}

.chooseButton {

}

#table {
    float: right;
    margin: 2rem 8rem;
    padding: 1rem;

    border-radius: 10px;
}